.add {
  background-image:url('../images/add.png') !important;
}
.delete {
  background-image:url('../images/delete.png') !important;
}
.save {
  background-image:url('../images/disk.png') !important;
}
.edit {
  background-image:url('../images/pencil.png') !important;
}
.limpiar {
  background-image:url('../images/limpiar.png') !important;
}
.aceptar {
  background-image:url('../images/accept.png') !important;
}
.cancel {
  background-image:url('../images/cancel.png') !important;
}
.refresh {
  background-image:url('../images/refresh.png') !important;
}
.ir {
  background-image:url('../images/ir.gif') !important;
}.machine {
  background-image:url('../images/machine.png ') !important;
}.auxiliar {
  background-image:url('../images/auxiliar.png') !important;
}.lista {
  background-image:url('../images/lista.png') !important;
}.report {
  background-image:url('../images/report.png') !important;
}.next {
  background-image:url('../images/next.png') !important;
}.previous {
  background-image:url('../images/previous.png') !important;
}.last {
  background-image:url('../images/last.png') !important;
}.first {
  background-image:url('../images/first.png') !important;
}.up {
  background-image:url('../images/up.png') !important;
}.down {
  background-image:url('../images/down.png') !important;
}.new {
  background-image:url('../images/new.png') !important;
}.open {
  background-image:url('../images/open.png') !important;
}.undo {
  background-image:url('../images/undo.png') !important;
}.papelera {
  background-image:url('../images/trash.png') !important;
}.impresion {
  background-image:url('../images/printer.png') !important;
}.buscar {
  background-image:url('../images/buscar2.png') !important;
}.consultar {
  background-image:url('../images/consultar.png') !important;
}
.ayuda {
  background-image:url('../images/Help.png') !important;
}
.configuracion {
  background-image:url('../images/settings.png') !important;
}
.sql {
  background-image:url('../images/sql.png') !important;
}
.fondotexto {
  background: #DFE8F6 !important;
/*  border:none !important;*/
}




