.icon-up {
  background-image:url('../images/up.png') !important;
}.icon-down {
  background-image:url('../images/down.png') !important;
}
.icon-ok {
	background-image: url(../images/ok.png)!important;
}
.icon-report {
	background-image: url(../images/report.png)!important;
}
.icon-project {
	background-image: url(../images/project.png)!important;
}
.icon-system {
	background-image: url(../images/system.png)!important;
}
.icon-tree {
	background-image: url(../images/tree.png)!important;
}

.icon-cancelar {
	background-image: url(../images/cancelar.png)!important;
}

.icon-agregar {
	background-image: url(../images/agregar.png)!important;
}

.icon-Eliminar {
	background-image: url(../images/Eliminar.png)!important;
}
.icon-editar {
  background-image:url(../images/pencil.png) !important;
}
.icon-siguiente {
	background-image: url(../images/next.png)!important;
}

.icon-atras {
	background-image: url(../images/back.png)!important;
}

.icon-open {
	background-image: url(../images/open.png)!important;
}
.icon-help {
	background-image: url(../images/help.png)!important;
}
.icon-step {
	background-image: url(../images/step.png)!important;
}
.icon-edit {
	background-image: url(../images/pencil.png)!important;
}

.icon-Actualizar {
	background-image: url(../images/actualizar.png)!important;
}
.icon-Guardar {
	background-image: url(../images/save.png)!important;
}

.icon-salir {
	background-image: url(../images/Salir.png)!important;
}

.icon-imprimir {
	background-image: url(../images/printer.png)!important;
}

.icon-buscar {
	background-image: url(../images/buscar.png)!important;
}

.bienvenido {
	color: black;
}

.textoCell {


	
	background-color: rgb(218, 218, 218);
	border.radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;


}

.textoCell2 {

	
	background-color: rgb(218, 218, 218);
	border.radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;

}

.ceo-icon{background:transparent url(../images/folder.png) 0 0 no-repeat !important;



}  
.vice-icon{background:transparent url(../images/nodo.png) 0 0 no-repeat !important;}

.nodo-text
{
	font-size: 0.8em !important;
	
}

.texto-verde
{
	color: green;
	
}