.add {
  background-image:url('../images/add.png') !important;
}
.delete {
  background-image:url('../images/delete.png') !important;
}
.save {
  background-image:url('../images/disk.png') !important;
}
.edit {
  background-image:url('../images/pencil.png') !important;
}
.limpiar {
  background-image:url('../images/limpiar.png') !important;
}
.aceptar {
  background-image:url('../images/accept.png') !important;
}
.cancel {
  background-image:url('../images/cancel.png') !important;
}
.refresh {
  background-image:url('../images/refresh.png') !important;
}
.ir {
  background-image:url('../images/ir.gif') !important;
}.machine {
  background-image:url('../images/machine.png ') !important;
}.auxiliar {
  background-image:url('../images/auxiliar.png') !important;
}.lista {
  background-image:url('../images/lista.png') !important;
}.report {
  background-image:url('../images/report.png') !important;
}.next {
  background-image:url('../images/next.png') !important;
}.previous {
  background-image:url('../images/previous.png') !important;
}.last {
  background-image:url('../images/last.png') !important;
}.first {
  background-image:url('../images/first.png') !important;
}.up {
  background-image:url('../images/up.png') !important;
}.down {
  background-image:url('../images/down.png') !important;
}
.fondotexto {
  background: #DFE8F6 !important;
/*  border:none !important;*/
}

.vehicle {
  background-image:url('../images/vehicle.png') !important;
}
.buque {
  background-image:url('../images/buque.png') !important;
}
.actividades {
  background-image:url('../images/actividades.png') !important;
}
.personas {
  background-image:url('../images/personas.png') !important;
}
